In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

In [4]:
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

In [7]:
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [29]:
df.iloc[0:2]

        job_title_short  ...                                    job_type_skills
0  Senior Data Engineer  ...                                               None
1          Data Analyst  ...  {'analyst_tools': ['power bi', 'tableau'], 'pr...

[2 rows x 17 columns]

In [22]:
df.iloc[0:5, 1:3]

                                           job_title                  job_location
0  Senior Clinical Data Engineer / Principal Clin...                 Watertown, CT
1                                       Data Analyst  Guadalajara, Jalisco, Mexico
2  Data Engineer/Scientist/Analyst, Mid or Senior...               Berlin, Germany
3  LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...               San Antonio, TX
4                             Data Engineer- Sr Jobs                Washington, DC

In [37]:
df.loc[5:9, 'job_title':'job_posted_date']

                                  job_title  ...     job_posted_date
5                         GCP Data Engineer  ... 2023-11-07 14:01:59
6         Senior Data Engineer  - GCP Cloud  ... 2023-03-27 13:18:18
7                             Data Engineer  ... 2023-12-07 13:40:49
8  Technology & Operations Business Analyst  ... 2023-06-05 13:44:34
9                         Data Scientist II  ... 2023-04-23 13:02:57

[5 rows x 7 columns]

In [38]:
df_us = df[df['job_country'] == 'United States']
df_us[['job_title', 'salary_year_avg']].iloc[:15]

                                            job_title  salary_year_avg
0   Senior Clinical Data Engineer / Principal Clin...              NaN
3   LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...              NaN
5                                   GCP Data Engineer              NaN
6                   Senior Data Engineer  - GCP Cloud              NaN
9                                   Data Scientist II              NaN
11                                      Data Engineer              NaN
13                               Senior Data Engineer              NaN
17                             Data Science Team Lead              NaN
26                                      Data Engineer              NaN
27  Principal Data Engineer (Lead), Knowledge Grap...              NaN
30     Senior Data Engineer (Work from home Eligible)              NaN
32   Sr. Data Scientist (NLP) - Full-time / Part-time              NaN
35                        Data Engineer - Royal Canin              NaN
36                                       Data Analyst              NaN
37                     Data Engineer III - Now Hiring              NaN

In [44]:
df.loc[df['job_posted_date'] > '2023-05-01', ['job_title', 'job_location', 'job_posted_date']]

                                                job_title  ...     job_posted_date
0       Senior Clinical Data Engineer / Principal Clin...  ... 2023-06-16 13:44:15
2       Data Engineer/Scientist/Analyst, Mid or Senior...  ... 2023-10-10 13:14:55
3       LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...  ... 2023-07-04 13:01:41
4                                  Data Engineer- Sr Jobs  ... 2023-08-07 14:29:36
5                                       GCP Data Engineer  ... 2023-11-07 14:01:59
...                                                   ...  ...                 ...
785694                                      Data Engineer  ... 2023-05-07 07:07:37
785696                          Senior Analytics Engineer  ... 2023-10-23 06:31:25
785698      Data Engineer, Gerencia Business Intelligence  ... 2023-08-09 06:32:00
785701      Data Engineer, Gerencia Business Intelligence  ... 2023-08-09 06:31:57
785706                               Junior Data Engineer  ... 2023-11-08 06:34:48

[502338 rows x 3 columns]