In [2]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [3]:
df_filtered = df

In [11]:
cleaned = df_filtered.dropna(subset=['salary_year_avg'])
rows_after = len(cleaned)
rows_before = len(df_filtered)

rows_before, rows_after

(785741, 22003)

In [12]:
update_df = df_filtered.drop_duplicates(subset=['job_location'])
rows_after = len(update_df)
rows_before = len(df_filtered)

rows_before, rows_after

(785741, 17218)

In [15]:
rate_before = df_filtered['salary_rate'].head(10)
df_filled = df_filtered.fillna({'salary_rate': 'Unknown'})
rate_after = df_filled['salary_rate'].head(10)

rate_before, rate_after

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)