In [14]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [16]:
df['job_posted_date_str'] = df['job_posted_date'].apply(lambda x: x. strftime('%Y-%m-%d'))
df[['job_posted_date', 'job_posted_date_str']].head()

      job_posted_date job_posted_date_str
0 2023-06-16 13:44:15          2023-06-16
1 2023-01-14 13:18:07          2023-01-14
2 2023-10-10 13:14:55          2023-10-10
3 2023-07-04 13:01:41          2023-07-04
4 2023-08-07 14:29:36          2023-08-07

In [26]:
import datetime as dt

In [27]:
current_date = dt.datetime.now()
df['days_since_posted'] = df['job_posted_date'].apply(lambda x: (current_date - x).days)
df[['job_posted_date', 'days_since_posted']].head()

      job_posted_date  days_since_posted
0 2023-06-16 13:44:15                919
1 2023-01-14 13:18:07               1072
2 2023-10-10 13:14:55                803
3 2023-07-04 13:01:41                901
4 2023-08-07 14:29:36                867

In [39]:
df_filtered = df.dropna(subset=['salary_year_avg']).copy()

In [40]:
df_filtered['salary_category'] = df_filtered.apply(lambda row: 'Low' if row['salary_year_avg'] < 60000 else 'Medium' if row['salary_year_avg'] <= 100000 else 'High', axis=1)

df_filtered[['salary_year_avg', 'salary_category']].head()

     salary_year_avg salary_category
28          109500.0            High
77          140000.0            High
92          120000.0            High
100         228222.0            High
109          89000.0          Medium